body
{
    font-size:15px;
    font-family:arial;
    text-decoration:none;
}

.headerUl
{
     font-size:20px;
     text-decoration:none;
}

li
{
     float:left;
     margin-left:5px;
     list-style:none;
     text-decoration:none;
}
li:hover 
{
    font-size:30px;
}

a
{
     text-decoration:none;
}

#h1
{
    font-size:5px;
}