body
{
    font-size:15px;
    font-family:arial;
    text-decoration:none;
}

.headerUl
{
     text-decoration:none;
     font-size:16px;
     position:absolute;
     left:-30px;
     margin-bottom:500px;
}

li
{
     float:left;
     margin-left:5px;
     list-style:none;
     text-decoration:none;
}
li:hover 
{
    font-size:17px;
    color:#462B35;
}

a
{
     text-decoration:none;
}

#h1
{
    font-size:5px;
}